.header {
  position: absolute;
  width: 100%;
  height: 150px;
  background-color: #0b1a6d;

  .header__inner {
    display: flex;
    position: relative;
    .logo {
      display: flex;
      flex: 0 1 10%;
      color: #fff;
      justify-content: center;
      align-items: center;
    }
    nav {
      flex: 0 0 50%;
      .area {
        list-style: none;
        display: flex;
        flex: 1;
        flex-direction: row;
        .area-list {
          display: flex;
          align-items: center;
          justify-content: center;
          flex: 1 0 auto;
          height: 144px;
         
          a {
            color: #fff;
            font-size: 20px;
            text-decoration: none;
          }
        }
      }
    }
  }
  .test {
    position: absolute;
    width: 100%;
    height: 1000px;
    background-color: #fff;
  }
}
