@import "utils";

.footer {
  .footer__banner {
    border: 1px solid red;
    height: 200px;
  }
  .footer__site-map {
    border: 1px solid blue;
    height: 250px;
  }
  .footer__comopay-info {
    background-color: #f4f4f4;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 0 0 auto;
    padding: 50px;
    .wrapper {
      width: 80%;
      margin: 0 auto;
      .header {
        width: 100%;
        display: flex;
        flex-direction: row;
        -ms-flex-direction: row;
        align-items: center;
        font-size: 18px;
        img {
          width: 80px;
          height: 80px;
          margin-right: 30px;
        }
        div {
          width: 150px;
          a {
            text-decoration: none;
            color: #000;
            &:hover {
              color: $hover_color;
            }
          }
        }
      }
      .body {
        width: 100%;
        height: 50px;
        line-height: 50px;
        .address {
          font-size: 14px;
        }
      }
    }
  }
}
