.footer {
  .footer__banner {
    border: 1px solid red;
    height: 200px;
  }
  .footer__site-map {
    border: 1px solid blue;
    height: 250px;
  }
  .footer__comopay-info {
      border: 1px solid green;
      height: 230px;
  }
}
