.sub-menu-list-container {
  width: 100%;
  height: 150px;
  background-color: #fff;
  position: absolute;
  top: 160px;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: 8px;

  .container-text-box {
    background-color: rgb(209, 209, 209);
    flex: 1;
  }
  .sub-menu-list {
    flex: 2;
    display: flex;
    flex-direction: row;
    .sub-menu-list__inner--wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
      flex: 1 0 auto;
      .sub-menu-list__inner {
        height: 20%;
        flex: 1 1 auto;
        .sub-area {
          list-style-type: circle;
          height: 80%;
          li {
            display: block;
            height: 30px;
          }
        }
      }
    }
  }
}
